<main class="flex-grow-1 d-flex flex-column align-items-center p-3 my-2 w-100">
    <h2 class="text-center">WELCOME TO E-COMMERCE</h2>
    <div class="flex-grow-1 d-flex flex-wrap justify-content-evenly align-items-center row justify-content-center">
        {{#each products}}
        <div class="col-10 col-sm-6 col-md-4 col-xl-3 p-4 d-flex align-items-stretch">
            <div class="card__products">
                <img src={{this.photo}} alt={{this.title}} width="100%" class="img-fluid" />
                <div class="card__products--data">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p class="card-text">USD {{this.price}}</p>
                    <button class="card__products--add"><i class="bi bi-cart"></i> Agregar al
                        carrito</button>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</main>